.main-actions {
  width: 95%;
  max-width: 800px;
  background-color: $light-green;
  padding: 2% 0 2% 0;
  margin: auto auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  a {
    background-color: $medium-green;
    color: white;
    padding: 10px 30px;
    padding-right: 40px;
    border: 2px solid red;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
  }

  a:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 20px solid transparent;
    border-left-color: #fff;
    border-width: 6px 10px;
    right: 0px;
    bottom: 13px;
  }
}

.main-actions a:first-of-type {
  margin-right: 3%;
}
.main-actions a:nth-of-type(2) {
  margin-left: 3%;
}
